.card img{
    width: 150px;
    height: 145px;
    margin-bottom: 15px;
}
body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}
.card-img-actions{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}
a{
    text-decoration: none;
}
.btn-white-text {
    color: white;
}
